@model Coder.Models.Contest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.QuestionContestMap = new QuestionContestMap();
}
<style>
    .div-wid-5{
        width:100%;
        float:left;
       
    }

    .div-pad {
        padding-top: 10px;
        padding-left: 700px;
    }

    .row{
        width: 100%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 75%;
    }

</style>
<div class="div-wid-5">
    <h2>Contest Details</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>        
    </dl>
</div>

@if (Model.Status == 1)
{
    <div class="div-wid-5 div-pad">
        <a asp-action="GetMappedStudents" asp-route-id="@Model.ContestId">Click here to Map Student</a>
    </div>
}
else
{
    <div class="div-wid-5 div-pad">
        <a asp-action="GetMappedStudents" asp-route-id="@Model.ContestId">Click here to view mapped students</a>
    </div>
}

<div>
    @{
        if (Model.PublishedStatus != 1)
    {
        <hr/>
        <h4>Map Questions</h4>

        <form asp-action="MapQuestionToContest">
            <table style="width:45%">
                <tr>
                    <td class="col-sm-10">
                        <select id="ddlQuestion" class="form-select" asp-for="@Model.QuestionContestMap.QuestionId" asp-items="Model.questionsDDL">
                            <option value="">Select Question</option>
                        </select>
                        <span id="spnValid" asp-validation-for="@Model.QuestionContestMap.QuestionId" class="text-danger">
                            This field is required.
                        </span>
                    </td>
                    <td class="col-sm-2">
                        <input type="submit" id="btnContestSubmit" value="Save" class="btn btn-primary" style="margin-left: 15px;" />
                    </td>
                </tr>

            </table>
            <input type="hidden" asp-for="@Model.QuestionContestMap.ContestId" value="@Model.ContestId" />
        </form>
        }
        }
    </div>

<div>
    <h4>Mapped Questions</h4>
    <table class="table" style="margin-top:20px;">
        <thead>
            <tr>
                <th>Id </th>
                <th>
                    Question Heading
                </th>
                <th>
                    Score
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.questionList != null ){
            @foreach (var item in Model.questionList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionHeading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                        @if (Model.PublishedStatus != 1)
                        {
                            <td>                        
                                @Html.ActionLink("Delete", "DeleteQuestionContestMaping", new { Qid = item.QuestionId,Cid=Model.ContestId },
                    new { onclick = "return confirm('Are you sure wants to delete?');" })
                    </td>
                    }
                </tr>
            }
            }
        </tbody>
    </table>
</div>
<div>
    @if (Model.Status == 1)
{
        <a asp-action="Edit" asp-route-id="@Model?.ContestId">Edit Contest</a>
        @(" | ")
}
    <a asp-action="Index">Back to List</a>
</div>
