@model Coder.Models.Contest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.QuestionContestMap = new QuestionContestMap();
}

<div>
    <h2>Contest Details</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>        
    </dl>
</div>
<div>
<hr />
<h4>Map Questions</h4>

    <form asp-action="MapQuestionToContest">
<dl class="row">
    <dt class="col-sm-2">
        Select Question
    </dt>
    <dd class="col-sm-4">
                <select id="ddlQuestion" class="form-select" asp-for="@Model.QuestionContestMap.QuestionId" asp-items="Model.questionsDDL">
            <option value="">Select Question</option>
        </select>
                <span id="spnValid" asp-validation-for="@Model.QuestionContestMap.QuestionId" class="text-danger">
                    The Difficulty field is required.
                </span>
    </dd>
</dl>
    <div class="form-group">
            <input type="submit" id="btnContestSubmit" value="Save" class="btn btn-primary" />
    </div>
    <input type="hidden" asp-for="@Model.QuestionContestMap.ContestId" value="@Model.ContestId" />
    </form>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id </th>
                <th>
                    Question Heading
                </th>
                <th>
                    Score
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.questionList != null ){
            @foreach (var item in Model.questionList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionHeading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>                        
                        @Html.ActionLink("Delete", "DeleteMaping", new { Qid = item.QuestionId,Cid=Model.ContestId },
                    new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContestId">Edit Contest</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>

</script>