<!-- IEnumerable<Coder.Models.StudentContestMap>-->
@model Coder.Models.ContestViewModel

@{
    ViewData["Title"] = "StudentsMap";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>StudentsMap</h2>

    @if (Model != null && Model.StudentContestMap != null)
{
    <div style="width:32%">
        <form asp-action="MapStudentToContest">
            <select id="ddlBatches" class="form-select" asp-for="StudentBatchId" asp-items="@Model.ddlStudentBatches">
                <option value="">Select Student Batch</option>
            </select>
            <span id="spnValid" asp-validation-for="StudentBatchId" class="text-danger">
                The field is required.
            </span>

            <select id="ddlBatches" class="form-select" asp-for="@Model.StudentContestMap.UserId" asp-items="@Model.ddlStudents">
                <option value="">Select Student</option>
            </select>
            <span id="spnValid" asp-validation-for="@Model.StudentContestMap.UserId" class="text-danger">
                
            </span>

            <input type="hidden" asp-for="@Model.StudentContestMap.ContestId" />
            <input type="submit" id="btnStudentSubmit" value="Save" class="btn btn-primary" />
        </form>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.StudentsList != null && Model.StudentContestMap != null)
        {
            @foreach (var item in Model.StudentsList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserExternalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Remove Mapping", "DeleteStudentContestMaping", new { id=item.StudentContestId, cid=Model.StudentContestMap.ContestId },
                new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    @if (Model != null && Model.StudentContestMap != null)
    {
    
    <a asp-action="Details" asp-route-id="@Model.StudentContestMap.ContestId">Back to List</a>
    }
</div>
