@model IEnumerable<Coder.Models.Contest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var activeContests = new List<Contest>();
    var archivedContests = new List<Contest>();
    TimeSpan time = TimeSpan.Zero;
    if (Model != null && Model.Count() > 0)
    {
        activeContests = Model.Where(x => x.Status == 1).ToList();
        archivedContests = Model.Where(x => x.Status == 0).ToList();
    }
}

<h2>Contests</h2>
<hr />
<br />
<h4>Active Contests</h4>
<br />
<div>
    @if (activeContests != null && activeContests.Count() > 0)
    {
        @foreach (var item in activeContests)
        {
            time = TimeSpan.Zero;
            if (item.CompletedOn != null && item.AttendedOn != null) {
                time = (TimeSpan)(item.CompletedOn - item.AttendedOn);
            }
            else if(item.AttendedOn != null)
            {
                time = (TimeSpan)(DateTime.Now - item.AttendedOn);
            }
            <div class="card">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td style="width:45%"> <h5>@item.ContestName</h5></td>
                            <td style="width:15%"> @item.FinalDate</td>
                            @if (time > TimeSpan.Zero)
                            {
                                <td style="width:20%"> @(
                                        time.Days.ToString("00") + " days " +
                                        time.Hours.ToString("00") + "h " +
                                        time.Minutes.ToString("00") + "m " +
                                        time.Seconds.ToString("00") + "s " 
                          )</td>
                            }
                            else
                            {
                                <td style="width:20%">Not Started                                 
                                </td>
                            }
                            <td style="width:10%"> <a asp-action="ViewQuestions" asp-route-id="@item.ContestId" class="btn btn-primary">View Details</a></td>
                           
                            <td style="width:10%">
                                @if (item.StudentContestStatus == 0 )
                                {
                                <label class="switch" >
                                        <input type="checkbox" id="toggleSwitch_@(item.ContestId)" class="toggleSwitch" data-contestid="@item.ContestId">
                                        <span class="slider round" id="sliderRound_@(item.ContestId)"></span>
                                </label>
                                }
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div>
        }
    }

    @if (archivedContests != null && archivedContests.Count() > 0)
    {
        <h4>Archived Contests</h4>
        <br />
        @foreach (var item in archivedContests)
        {
            <div class="card">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td style="width:60%"> <h5>@item.ContestName</h5></td>
                            <td style="width:30%"> @item.FinalDate</td>
                            <td style="width:10%"> <a asp-action="ViewQuestions" asp-route-id="@item.ContestId" class="btn btn-primary">View Details</a></td>
                        </tr>
                    </table>                    
                </div>
            </div>
        }
    }
</div>