@model Coder.Models.SolveQuestionViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<hr />
<br />
<div>
    @if (Model != null && Model.QuestionViewModel != null && Model.QuestionViewModel.Count() > 0)
    {
        var count = 1;
        @foreach (var item in Model.QuestionViewModel)
        {
            <div class="card">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td style="width:50%"> @(count++): @item.QuestionHeading</td>
                            <td style="width:20%">Difficulty: @item.Difficulty </td>
                            <td style="width:15%">Score: @item.Score </td>
                            <td style="width:15%">
                                @if (item.SubmittedStatus == 1)
                                {
                                    @Html.ActionLink("Submitted", "LoadSolveChallengePage", new { qid = item.QuestionId,cid=Model.ContestId })
                                }
                                else
                                {
                                    if (Model.StudentContestFinishStatus == 0)
                                    {
                                        @Html.ActionLink("Solve Challenge", "LoadSolveChallengePage", new { qid = item.QuestionId,cid=Model.ContestId })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Not Submitted", "LoadSolveChallengePage", new { qid = item.QuestionId,cid=Model.ContestId })
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    }
   
</div>
 <div style="margin-top: 30px;">
    <a asp-action="Index" >Back to List</a>
    </div>