@model IEnumerable<Coder.Models.StudentStatusViewModel>

@{
    ViewData["Title"] = "StudentStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h2>Student Status</h2>

<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                TestCases Passed
            </th>
            <th>
                Status
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @(item.NumberOfTestCasesPassed == "N/A" ? "N/A" : (item.NumberOfTestCasesPassed+"/"+ item.TotalTestCases))                    
                    
                </td>
                <td>
                    @{
                        var status = "";
                        if(item.QuestionSubmittedStatus == 1)
                        {
                            status = "Completed";
                        }
                        else if (item.ContestSubmittedStatus == 1)
                        {
                            if (item.IsStarted)
                            {
                                status = "Started but not submitted";
                            }
                            else
                            {
                                status = "Not Started";
                            }
                        }
                        else if(item.IsStarted)
                        {
                            status = "Started";
                        }
                        else
                        {
                            status = "Not Started";
                        }
                    }

                    @status
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Answer))
                    {
                            @Html.ActionLink("View Code", "ViewStudentCode", new { uid = item.UserId,qcid= item.QuestionContestId})
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-route-id="@Model.FirstOrDefault().ContestId">Back to List</a>


