@model Coder.Models.Question

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Question Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionHeading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionHeading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleInput)
        </dt>
        <dd class="col-sm-10">
            <!--Html.DisplayFor(model => model.SampleInput)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.SampleInput) ? Model.SampleInput : "N/A")</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SampleOutput)           
        </dt>
        <dd class="col-sm-10">
            <!--Html.DisplayFor(model => model.SampleOutput)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.SampleOutput) ? Model.SampleOutput : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseInput1)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseInput1)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseInput1) ? Model.TestCaseInput1 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseOutput1)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseOutput1)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseOutput1) ? Model.TestCaseOutput1 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseInput2)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseInput2)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseInput2) ? Model.TestCaseInput2 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseOutput2)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseOutput2)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseOutput2) ? Model.TestCaseOutput2 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseInput3)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseInput3)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseInput3) ? Model.TestCaseInput3 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestCaseOutput3)
        </dt>
        <dd class = "col-sm-10">
            <!--Html.DisplayFor(model => model.TestCaseOutput3)-->
            <span style="white-space: pre-line">@(!string.IsNullOrEmpty(Model.TestCaseOutput3) ? Model.TestCaseOutput3 : "N/A")</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>



    </dl>
</div>
<input type="hidden" id="hdnAnswer" asp-for="Answer" />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuestionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
