@model Coder.Models.StudentDashboardModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var activeContests = new List<Contest>();
    var archivedContests = new List<Contest>();
    TimeSpan time = TimeSpan.Zero;
    if (Model != null && Model.Contests != null && Model.Contests.Count() > 0)
    {
        activeContests = Model.Contests.Where(x => x.Status == 1 || x.FinalDate > DateTime.Now).ToList();
        archivedContests = Model.Contests.Where(x => x.Status == 0 || x.FinalDate < DateTime.Now).ToList();
    }
}
<link href="~/css/percent.css" rel="stylesheet" />
<h2>Contests</h2>
<hr />
<br />
@if (Model != null && Model.Response != null)
{
    if (!Model.Response.IsSuccess)
    {       
        <div class="alert alert-danger" role="alert">
            @Model.Response.Message
        </div>
    }
}
<form>
<h4>Active Contests</h4>
<div>
    @if (activeContests != null && activeContests.Count() > 0)
    {
        @foreach (var item in activeContests)
        {
            time = TimeSpan.Zero;
            if (item.CompletedOn != null && item.AttendedOn != null) {
                time = (TimeSpan)(item.CompletedOn - item.AttendedOn);
            }
            else if(item.AttendedOn != null)
            {
                time = (TimeSpan)(DateTime.Now - item.AttendedOn);
            }
            <div class="card">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td style="width:40%"> <h5>@item.ContestName</h5></td>
                            <td style="width:15%"> @item.FinalDate</td>
                            @if (time > TimeSpan.Zero)
                            {
                                <td style="width:15%">
                                    @{
                                        if (time.Days != 0)
                                        {

                                            @(time.Days.ToString("00") + " days ")
                                        }
                                        if (time.Hours != 0)
                                        {
                                            @(time.Hours.ToString("00") + "h ")
                                        }
                                        if (time.Minutes != 0)
                                        {
                                            @(time.Minutes.ToString("00") + "m ")
                                        }
                                        if (time.Seconds != 0)
                                        {
                                            @(time.Seconds.ToString("00") + "s ")
                                        }

                                    }
                                </td>
                            }
                            else
                            {
                                <td style="width:15%">Not Started                                 
                                </td>
                            }
                            <td style="width:8%;">
                                    <div class="c100 p@(item.Percent != null ? (int)(item.Percent) : 0) blue">
                                        <span>@(item.Percent != null ? (int)(item.Percent) : 0)%</span>
                                     <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                     </div>
                                 </div>
                            </td>
                            <td style="width:14%"> <a asp-action="ViewQuestions" asp-route-id="@item.ContestId" class="btn btn-primary">View Challenge</a></td>
                           
                            <td style="width:8%">
                                @if (item.StudentContestStatus == 0 )
                                {
                                <label class="switch" >
                                        <input type="checkbox" id="toggleSwitch_@(item.ContestId)" class="toggleSwitch" data-contestid="@item.ContestId">
                                        <span class="slider round" id="sliderRound_@(item.ContestId)"></span>
                                </label>
                                }
                            </td>
                        </tr>
                    </table>                    
                </div>
            </div>
            }
        }
        else
        {
            <p>No active contests</p>
        }
    </div>


    <h4 style="margin-top: 23px;">Archived Contests</h4>
    @if (archivedContests != null && archivedContests.Count() > 0)
{
    <div>
        @foreach (var item in archivedContests)
        {
            <div class="card">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td style="width:40%"> <h5>@item.ContestName</h5></td>
                            <td style="width:30%"> @item.FinalDate</td>
                            <td style="width:10%">Ended</td>
                            <td style="width:20%"> <a asp-action="ViewQuestions" asp-route-id="@item.ContestId" class="btn btn-primary">View Challenge</a></td>
                        </tr>
                    </table>                    
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <p>No archived contests</p>
    }

    </form>
